/*Всё для достижений команды*/

/*Корректируем расстояние между местом и инфой о турике*/
.place_event_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 50px;
}

/*Настройки для отображения данных на странице достижений*/
.sub_tabcontent_achievements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

/*Махинации с расстоянием названий столбцов на странице достижений*/
.achievements_col{
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
    padding-top: 25px;
    padding-bottom: 5px;
    gap: 78px;
}
.achievements_col p{
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    margin: 0;
    color: white;
}