.header {
    background-color: var(--header);
    /* filter: drop-shadow(0px -3px 10px var(--text-01)); */
    
    width: 100vw;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
  }
  .logo {
    display: block;
    /* height: 68px;
    width: 216px;
    margin-left: 10px; */ 

    height: 32px;
    width: 138px;
    margin-left: 32px;
    
    /* background-image: url('file:///C:/Users/1/Desktop/ZTV%20frontend/LOGO.svg'); */
    /* background-image: url('file:///C:/Users/1/Desktop/ZTV%20frontend/img/web/Frame_13.svg'); */
    background-image: url('img\\web\\Frame_13.svg');
    background-size: cover;
  }
  .navigation {
    flex: 1 0;
    height: 64px;
    margin: 0;
    padding: 10px;
    
  }
  .navigation__list {
    
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding: 0;
  }
  
  .navigation__link {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    font-family: var(--text-font);
    text-decoration: none;
    height: 19px;
    font-size: 16px;
  }
  .navigation__link:last-child {
    margin-right: 0;
  }
  .navigation__link a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-02);
    font-size: 16px;
  }
  .navigation__link a:hover {
    transition: color 0.3s 0s ease-in-out;
    color: var(--text-01);
  }
  .navigation__link_active {
    /* box-shadow: inset 0px -1px 0px 0 var(--base-05); */
    
  }
  .navigation__link_active a {
    color: var(--text-01);
  }
  .login {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--text-font);
    margin-right: 14px;
    padding: 10px;
    
  }
  .login-btn {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .login-btn a{
    text-decoration: none;
    
  }
  .login-btn__name {
    margin-right: 8px;
    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 13px;
  }
  .login-btn__name a {
    
    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 14px;
  }
  .login-btn__icon {
    display: flex;
  }
  .login-btn__icon svg a text{
    margin-right: 10px;
    color: var(--text-02);
    transition: color 0.3s 0s ease-in-out;
    font-size: 13px;
  }
  .login-btn__icon svg {
    fill: var(--text-02);
    color: var(--text-02);
    transition: fill 0.3s 0s ease-in-out;
  }
  .login-btn:hover .login-btn__name a{
    color: var(--text-01);
  }
  .login-btn:hover .login-btn__icon svg {
    fill: var(--base-05);
  }