.tab_wrapper{
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
    height: auto;
    width: 715px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 25px;

    gap: 150px;
}

/*Стилизация кнопок(вкладок по сути)*/
.tab_wrapper button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: var(--text-regular-lcg);
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--white25);
}
.tab_wrapper button:hover {
    color: white;
}
.tab_wrapper button.active {
    color: white;
}

.ongoing_events{
    /* margin-left: auto;
    margin-right: auto;
    width: 745px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

/*Надписи Текщуие и Грядущие турниры*/
.events_header{
    margin-left:auto;
    margin-right:auto;

    width: 745px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    padding-top: 25px;
    padding-bottom: 10px;
}
.events_header p{
    font-family: var(--text-medium-lcg);
    font-size: 14px;
    margin: 0;
    color: white;
}

.events_col{
    /* margin-left: auto;
    margin-right: auto; */

    width: 745px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.events_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

/*Отображние картинки турика*/
.event_img_header{
    width: 243px;
    height: 40px;
    overflow: hidden;
    object-position: center;
}
.event_img_header img{
    margin: -2px 0px 0px -27px;
}

/*Предварительно кропаю фотку, чтоб поместилось больше*/
.crop_event img{
    width: 285px;
    height: 69px;
}

.event_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 223px;
    height: fit-content;

    background: var(--base-09);
}
.event_desc p{
    margin: 0;
    font-family: var(--text-regular-lcg);
    font-size: 14px;
    margin: 0;
    color: white;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event_sub_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
.event_sub_info p{
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    width: fit-content;
}

.event_location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 3px;
}
.event_location img{
    height: 10px;
}
.event_location p{
    font-family: var(--text-regular-lcg);
    font-size: 12px;
}

.info_loc_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    gap: 5px;
}

.dev_line{
    position: relative;
    width: 223px;
    height: 0px;
    
    border: 1px solid var(--base-08);
}

.main_event_info{
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0px;
    gap: 5px;
}

.event_information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px;
    gap: 10px;
}

.main_event_info_wrapper{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 3px;
}
.main_event_info_wrapper p{
    max-width: fit-content;
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    color: white;
}

.main_sub_info p{
    color: var(--white40);
}

/*Настройки прямоугольника с датой*/
.events_date{
    margin-left: auto;
    margin-right: auto;
    width: 715px;
    height: 36px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px;

    background-color: var(--splash-window);
}
.events_date p{
    font-family: var(--text-medium-lcg);
    font-size: 14px;
    margin: 0;
    color: white;
}

.events_upcoming{
    width: 745px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.events_past{
    margin-left: auto;
    margin-right: auto;

    width: 745px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
}

.past_event_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
/* .past_event_info img{
    height: 100%;
    width: 100%;
} */

.event_rect_match .sub_past_info{
    width: 220px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}
.event_rect_match .sub_past_info p{
    font-size: 12px;
    color: var(--white40);
    width: fit-content;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event_rect_match .sub_past_info img{
    height: 10px;
}

.sub_up_info_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}
.event_rect_match .event_name p{
    width: 220px;

    font-size: 14px;
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Сама плашка с матчами*/
.event_rect_match{
    width: 715px;
    height: 36px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    background-color: var(--base-09);
}
.event_rect_match p{
    font-family: var(--text-regular-lcg);
    font-size: 12px;
    margin: 0;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event_rect_match:hover{
    background-color: var(--white70);
}

.img_wrapper{
    width: 32px;
    height: 32px;
}
.img_wrapper img{
    width: 100%;
    height: 100%;
}